@using CanvasClasses;

@{
    String _consumerSecret = Environment.GetEnvironmentVariable("CANVAS_CONSUMER_SECRET", EnvironmentVariableTarget.Machine); 
    String _signedRequestParam = Request.Params["signed_request"];
    
    if (_signedRequestParam == null)
    {
        return;
    }
    
    String _signedRequestJson = SignedRequest.verifyAndDecodeAsJson(_signedRequestParam, _consumerSecret);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello World Canvas .NET Example</title>
    <link rel="stylesheet" href="Content/canvas.css"/>
    <script src="Scripts/canvas-all.js"></script>
    <script src="Scripts/json2.js"></script>
    <script>

        Sfdc.canvas(function () {
            var sr = JSON.parse('@_signedRequestJson'.replace(/&quot;/g, "\""));

            Sfdc.canvas.oauth.token(sr.oauthToken);
            Sfdc.canvas.byId('username').innerHTML = sr.context.user.fullName;

            var objectId = sr.context.environment.parameters.objectId;
            console.log(objectId);

            Sfdc.canvas.client.subscribe(sr.client, {
                name: 'vf.event', onData: function (event) {
                    console.log("Subscribed to custom event ", event);
                }
            }
            );

            /* var body = { "Name": "Axa Assistance" };
            var url = sr.context.links.sobjectUrl + "Account";

            Sfdc.canvas.client.ajax(url, {
                client: sr.client,
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(body),
                success: function (data) {
                    if (data.status === 201) {
                        alert('Account Created');
                    }
                }
            }); */
        });

    </script>
</head>

<body> 
    <br/>
    <h1>Hello
        <span id='username'></span>
    </h1>
</body>  
</html>